h1 {
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
}
ul li:first-child {
  margin-inline-start: auto;
}
ul li:last-child {
  margin-inline-end: auto;
}
